extends layout

block content
  h1= title
  if reminders.length
    table
      tr
        th Date
        th Name
      each reminder in reminders
        tr
          td
            code #{new Date(reminder.date).toDateString()}
          td
            a(href="/reminders/#{reminder._id}")= reminder.name
          
  else
    h3 You don’t need to remember
      em  anything!
  hr
  form(method="post")
    h2 Add a Reminder
    p
      label(for="name") Name
      br
      input(type="text" name="name" id="name" required)
    p
      label(for="date") Date
      br
      input(type="datetime-local" name="date" id="date" required)
    p
      button(type="submit") Create Reminder
