extends layout

block content
  h1= title
  p
    a(href="/") Back
  hr
  table(style="width: 100%")
    tr(valign="bottom")
      td
        form(method="post")
          p
            label(for="name") Name
            br
            input(type="text" name="name" id="name" value="#{reminder.name}" required)
          p
            label(for="date") Date
            br
            input(type="datetime-local" name="date" id="date" value="#{reminder.date}" required)
          p
            button(type="submit") Save Reminder
      td(align="right")
        form(method="post")
          input(type="hidden" name="method" value="delete")
          button(type="submit").delete Delete

  script(type='text/javascript').
    document.querySelector('button.delete').onclick = function () {
      return confirm('Hey, you sure you wanna do that?');
    };
