body,
input,
button {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

th {
  text-align: left;
  padding-bottom: .5em;
}

td {
  padding: .5em .5em .5em 0;
}

button.delete {
  background: Tomato;
}
